td.wall {
	background-color: #4c4c4c;
}
td.clear {
	background-color: #999;
}

tr.top {
	background-color: #007eff;
}
td {
	width: 20px;
	height: 20px;
	text-align: center;
}
th.top {
	border-bottom: 1px solid black;
}
table {
	border-collapse: collapse;
}